html,
body {
    scroll-behavior: smooth;
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(241, 241, 241);
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(319deg, rgba(0, 0, 0, 1) 0%, rgba(58, 116, 134, 1) 55%);
    background: -webkit-linear-gradient(319deg, rgba(0, 0, 0, 1) 0%, rgba(58, 116, 134, 1) 55%);
    background: linear-gradient(319deg, rgba(0, 0, 0, 1) 0%, rgba(58, 116, 134, 1) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#3a7486", GradientType=1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Keeps the background fixed */
}


/* Title Styles */
#TITLE {

    font-size: 100px;
    z-index: 1;
    transition: 0.3s;

}

/* Container Styles */
.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Input Box Styles */
#friendInputBox,
#Loginpage,
#signupPage {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.61);
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;

}

.login-input {
    margin-bottom: 10px;
}

/* List Styles */
.personlist {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    font-size: 24px;
    padding: 10px;
    background-color: transparent;
    color: rgb(241, 241, 241);
    text-align: center;
    transition: 0.3s;
    display: block;
    overflow-y: scroll;
}

.personlist::-webkit-scrollbar {
    display: none;
}


#people-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align children to the left */
    padding: 10px;
    background-color: transparent;
}

.personlist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s;
    flex-direction: column;
    width: 93%;

}

.add-info-btn {
    margin-left: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c94e7;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
}

/* Button Styles */
.extra-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* Stack extra info vertically */
    margin-top: 10px;
    /* Adds space between nameAmountContainer and extra-info-container */
    padding-left: 10px;
    padding-right: 10px;
}
.friend-extra-info-container{
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* Adds space between nameAmountContainer and extra-info-container */
    padding-left: 10px;
    padding-right: 10px;
}
/* Each extra info item */
.extra-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 5px;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.add-friend-to-list{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c94e7;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    padding: 0;
}


.extra-info-text {
    flex-grow: 1; /* Allows it to take up the remaining space */
    text-align: left;
    word-break: break-word;
    padding-left: 10px;
}

.remove-info-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #8fadbd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    flex-shrink: 0; /* Prevents shrinking */
    margin-left: 10px; /* Adds some spacing between text and button */
    margin-right: 10px;
}
button,
.btn {
    padding: 10px;
    margin: 10px 0;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}


button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.hidden {
    display: none;
}

#add-person-btn,
#clear-list-btn {
    margin-top: 10px;
    transition: 0.3s;
    text-align: center;
    justify-content: center;

}

.sidenav {
    margin-top: 10px;
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0b0910c4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-height: 90%;

}

.sidenav p {
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 16px;
    transition: 0.5s;
    padding-top: 60px;
    color: #ececec;
}

.sideNavA {
    top: -80px;
    position: relative;
    color: #b6c5b9;
    text-decoration: none;
    border-style: hidden;
    padding: 10px;
    margin: 12px;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 20;
    display: flex;
    transition: 1s;
    width: auto;
}

.sidenav label {
    padding: 40px 8px 8px 40px;
    text-align: left;
    text-decoration: none;
    font-size: 100%;
    width: 100%;
    color: #c7c7c7;
    display: block;
    transition: 0.3s;
}

.open-btn {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #e6e6e6;
    border-style: hidden;
    border-radius: 18px;
    opacity: 0.8;
    padding: 20px;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 10;
    width: auto;
    height: auto;

}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
#friendBox {
    position: relative;
    padding: 10px;
    overflow-x: hidden;
    height: auto;
    color: #b6c5b9;
    border-style: hidden;
    border-radius: 7px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.5s;
margin-left: -12px;
}
.dropdown-container {
    padding: 10px;
    width: 200px;
}
#friendsList {
    list-style-type: none;
    padding: 10px;
}

#friendsList li {
    display: flex;
    color: rgb(66, 14, 5);
    background-color: rgb(98, 128, 118);
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 10px;
    border-radius: 8px;
    padding: 8px;
    overflow-x: hidden;
    text-wrap: wrap;
}

#friendsList li button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#friendsList li button:hover {
    background-color: #cc0000;
}
#addFriendIcon{
    z-index: 10px;
    background-color: #cc0000;
}
.dropdown-container a {
    text-align: left;
    background-color: #4A2F2A;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    transition: 0.3s;
}


#Login {
    background-color: #1F4A5A;
    color: #7FBAC5;
}
#logout-btn{
    background-color: #1F4A5A;
    color: #7FBAC5;
}
#addFriendBtn {
    margin-top: 10px;
    background-color: #85d97d;
    color: #4A2F2A;
    cursor: pointer;
    font-size: 20px;
}

#Profile {
    background-color: #7FBAC5;
    color: #1F4A5A;
}

#FriendsTab {
    background-color: #A8A39D;
    color: #2B2B2B;
}

#closeButton {
    margin: 0px 0px 50px 50px;
    position: relative;
    color: #ececec;
    text-decoration: none;
    border-style: hidden;
    padding: 10px;
    top: -50px;
    right: 40px;
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 20;
    display: flex;
    transition: 1s;
    background-color: #746f8ada;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}



/* Input Fields */
input {
    background-color: transparent;
    color: rgb(241, 241, 241);
    border: none;
    border-bottom: solid;
    padding-left: 17px;
    font-size: 18px;
    outline: none;
    margin-left: -10px;
    transition: 0.3s;

}

.amount-container {
    display: flex;
    align-items: center;
    transition: 0.3s;
    width: 100%;
    white-space: nowrap; /* Prevents wrapping */
    overflow: hidden; /* Hides overflow */
    text-overflow: ellipsis; /* Shows "..." if text is too long */
    display: inline-block;
}


.remove-btn {
    margin-left: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
}

#more-btn {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    /* Size of "X" */
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    padding: 0;
}

/* Special Sections */
#Special,
#Special2 {
    font-size: 50px;
    display: none;
    margin-bottom: 170px;
    transition: 0.3s;

}

/* Logo Styles */
.Logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    margin: 0;
    transform: none;
    opacity: 80%;
    transition: 0.3s;

}

/* Utility Classes */
.hidden {
    display: none !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}

/* Container for name and amount */
.name-amount-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    margin-top: 10px;
    border-radius: 8px;
    padding: 8px;
    text-wrap: wrap;
    width: 100%;
    flex-direction: column;
    max-width: 40vh;
    text-wrap: wrap;
    overflow: hidden; 

}
.extra-info-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
}

/* Styling for name */
.name-span {
    font-weight: bold;
    font-size: 26px;
    transition: 0.3s;
    flex-grow: 1; /* Makes name take up available space */
    text-align: left; /* Aligns text to the left */
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;

}


/* Styling for the dollar sign */
.dollar-sign {
    font-weight: bold;
    font-size: 26px;
    transition: 0.3s;

}

#Subscript {
    transition: 0.3s;
    text-align: left;
    margin-left: 10px;
    font-size: 10x;


}

#closeSignup,#closeLogin {
    top: 0;
    right: 10px;
    position: absolute;
    margin-top: 10px;
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 53, 59, 0.781);
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background: rgba(50, 59, 59, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000000;
}
#currency-select{
    top: -80px;
    right: -2px;
    position: relative;
    color: #b6c5b9;
    text-decoration: none;
    border-style: hidden;
    padding: 10px;
    margin: 12px;   
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 20;
    display: flex;
    transition: 1s;
    width: 90%;
}
.modal button,#currency-select {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-container {
    display: flex;
    gap: 10px; /* Adds space between buttons */
}
#add-more-money-btn,
#add-extra-info-btn,
#remove-money-btn,
#edit-name-btn,#currency-select {
    background-color: rgba(80, 202, 211, 0.8);
    border: 2px;
    color: rgb(194, 233, 232);
    font-size: 20px;
}

#close-prompt {
    background-color: rgba(175, 53, 44, 0.8);
    border: 2px;
    color: rgb(216, 216, 216);
    font-size: 20px;

}
#friendModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 53, 59, 0.781);
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}

.friend-content {
    display: flex;
    flex-direction: column;
    background: rgba(50, 59, 59, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000000;
    width: 70%;
    margin-top: 60px;
    height: 70%;
    position: relative; /* Needed for absolute positioning inside */
}

#closeFriendModal {
        background-color: rgba(175, 53, 44, 0.8);

    position: absolute;
    top: 10px;
    right: -15px;
    transform: translateX(-50%); /* Centers it horizontally */
    font-size: 20px;
    border-radius: 15px;
}


/* Responsive Design */
@media (max-width: 768px) {
    .remove-info-btn {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e74c3c;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        line-height: 1;
        padding: 0;
    }

    #TITLE {
        font-size: 50px;
    }

    .personlist {
        width: 100%;
    }

    #add-person-btn {
        width: 90%;
    }

    #clear-list-btn {
        width: 90%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}