html,
body {
    scroll-behavior: smooth;
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(241, 241, 241);
    background: rgb(0,0,0);
    background: -moz-linear-gradient(319deg, rgba(0,0,0,1) 0%, rgba(58,116,134,1) 55%);
    background: -webkit-linear-gradient(319deg, rgba(0,0,0,1) 0%, rgba(58,116,134,1) 55%);
    background: linear-gradient(319deg, rgba(0,0,0,1) 0%, rgba(58,116,134,1) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#3a7486",GradientType=1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed */
}

body.blur-background {
    backdrop-filter: blur(5px);
    /* Apply blur to body when menu is open */
}

/* Title Styles */
#TITLE {
    
    font-size: 100px;
    z-index: 1;
    transition: 0.3s;

}

/* Container Styles */
.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Input Box Styles */
#friendInputBox,
#Loginpage,
#signupPage {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;

}
.login-input{
    margin-bottom: 10px;
}
/* List Styles */
.personlist {
    border-radius: 18px;
    font-size: 24px;
    padding: 10px;
    background-color: transparent;
        color: rgb(241, 241, 241);
    text-align: center;
    transition: 0.3s;
    display: block;
    overflow-y: scroll;
}

.personlist::-webkit-scrollbar {
    display: none;
}

.personlist {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#people-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Align children to the left */
    padding: 10px;
    background-color: transparent;
}
.personlist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s;
    flex-direction: column;
    width: 93%;

}
.add-info-btn {
    margin-left: 10px;
    /* Space from other elements */
    width: 30px;
    /* Compact width */
    height: 30px;
    /* Compact height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c94e7;
    /* Red background */
    color: #fff;
    /* White "X" */
    border: none;
    border-radius: 10px;
    /* Makes it circular */
    font-size: 16px;
    /* Size of "X" */
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    padding: 0;
  }
/* Button Styles */
.extra-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;  /* Stack extra info vertically */
    margin-top: 10px;  /* Adds space between nameAmountContainer and extra-info-container */
    padding-left: 10px;
    padding-right: 10px;
}

/* Each extra info item */
.extra-info-item {
    margin-bottom: 5px;  /* Adds space between individual extra-info items */
    word-wrap: break-word;  /* Ensures text wraps properly */
    padding: 5px;  /* Optional: Adds space inside each item */
    background-color: rgba(255, 255, 255, 0.2);  /* Optional: Light background */
    border-radius: 5px;  /* Optional: Rounded corners */
    text-align: left;  /* Aligns text to the left */
    word-break: break-word;  /* Breaks long words */
}
button,
.btn {
    padding: 10px;
    margin: 10px 0;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}


button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.hidden {
    display: none;
}

#add-person-btn,
#clear-list-btn {
    margin-top: 10px;
    transition: 0.3s;

}

.sidenav {
    margin-top: 10px;
    height: 70%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0b0910c4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.sidenav p {
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 16px;
    transition: 0.5s;
    padding-top: 60px;
    color: #ececec;
}

.sidenav a {
    top: -80px;
    position: relative;
    color: #b6c5b9;
    text-decoration: none;
    border-style: hidden;
    padding: 10px;
    margin: 12px;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 20;
    display: flex;
    transition: 1s;
    background-color: #3a3736;
    width: auto;
}
.sidenav label{
    padding: 40px 8px 8px 40px;
    text-align: left;
    text-decoration: none;
    font-size: 100%;
    width: 100%;
    color: #c7c7c7;
    display: block;
    transition: 0.3s;
}
.open-btn {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #e6e6e6;
    border-style: hidden;
    border-radius: 18px;
    opacity: 0.8;
    padding: 20px;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;
    width: auto;
    height: auto;

}
#Login{
    background-color: #1F4A5A;
    color: #7FBAC5;
}
#AddFriend{
    background-color: #D98B7D;
    color: #4A2F2A;
}
#Profile{
background-color:#7FBAC5;
color: #1F4A5A;
}
#FriendsTab{
background-color:#A8A39D ;
color: #2B2B2B;
}
#closeButton {
    margin: 0px 0px 50px 50px;
    position: relative;
    color: #ececec;
    text-decoration: none;
    border-style: hidden;
    padding: 10px;
    top: -50px;
    right: 40px;
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 20;
    display: flex;
    transition: 1s;
    background-color: #746f8ada;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}



/* Input Fields */
input {
    background-color: transparent;
    color: rgb(241, 241, 241);
    border: none;
    border-bottom: solid;
    padding-left: 17px;
    font-size: 18px;
    outline: none;
    margin-left: -10px;
    transition: 0.3s;

}

.amount-container {
    display: flex;
    /* Aligns dollar sign and input horizontally */
    align-items: center;
    /* Centers vertically */
    transition: 0.3s;

}

.remove-btn {
    margin-left: 10px;
    /* Space from other elements */
    width: 30px;
    /* Compact width */
    height: 30px;
    /* Compact height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e74c3c;
    /* Red background */
    color: #fff;
    /* White "X" */
    border: none;
    border-radius: 10px;
    /* Makes it circular */
    font-size: 16px;
    /* Size of "X" */
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    padding: 0;
    /* Removes extra padding */
}

more-btn{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    /* Size of "X" */
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    padding: 0;
}
/* Special Sections */
#Special,
#Special2 {
    font-size: 50px;
    display: none;
    margin-bottom: 170px;
    transition: 0.3s;

}

/* Logo Styles */
.Logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    margin: 0;
    transform: none;
    opacity: 80%;
    transition: 0.3s;

}

/* Utility Classes */
.hidden {
    display: none !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}

/* Container for name and amount */
.name-amount-container {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    margin-bottom: 10px;  /* Adds space between the name-amount-container and extra-info-container */
}

/* Styling for name */
.name-span {
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;

}

/* Styling for the dollar sign */
.dollar-sign {
    font-weight: bold;
    margin-right: -5px;
    font-size: 18px;
    transition: 0.3s;

}
#Subscript{
    transition: 0.3s;
    text-align: left;
    margin-left: 10px;
    font-size: 10x;


}
/* Styling for amount input */
.amount-input {
    width: 80px;
    /* Control width of input box */
    text-align: left;
    /* Align number to the right */
    font-weight: bold;
    transition: 0.3s;

}

#currencySelect {
    margin: 10px;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    color: rgb(241, 241, 241);
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    display: none;

}

#currencySelect option {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}




.close-btn {
    margin-top: 10px;
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/* Responsive Design */
@media (max-width: 768px) {
    #TITLE {
        font-size: 50px;
    }

    .personlist {
        width: 90%;
    }

    button {
        width: 90%;
    }
}

  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
  
    .sidenav a {
      font-size: 18px;
    }
  }